.Modal {
    border: 1px solid aliceblue;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 1080px;
}


.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 10, 50, 0.9);
}

.close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    border: none;
    background-color: rgba(150, 150, 150, 0.7);
}

.bottom {
    color: aliceblue;
    background-color: #03053b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 32px;
}

.descr {
    max-width: 900px;
}

.likes {
    font-size: 16px;
    color: red;
    text-align: center;
}

/* .closeIcon {
    size: 36px;
} */